.hero {
  width: 100%;
  height: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity ease-in-out 0.6s, transform ease-in-out 0.6s;
}

.hero__text--ready {
  opacity: 1;
  transform: translate(-50%, -50%);
}
