.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 9999;
  display: block;
  transition: opacity ease-in-out 0.6s;

  &.preloader--fadeout {
    opacity: 0;
  }
}

.preloader__wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
