@import "@/components/Preloader/Preloader.scss";
@import "@/components/Counter/Counter.scss";
@import "@/components/Hero/Hero.scss";
@import "@/components/MaskedClipCursorDeform/MaskedClipCursorDeform.scss";

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
